<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzn.usercenter.mapper.LogMapper">
    <resultMap id="BaseResultMap" type="com.zzn.usercenter.model.Log">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="operate_name" jdbcType="VARCHAR" property="operateName"/>
        <result column="request_url" jdbcType="VARCHAR" property="requestUrl"/>
        <result column="remote_host" jdbcType="VARCHAR" property="remoteHost"/>
        <result column="system_code" jdbcType="VARCHAR" property="systemCode"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="redirect_url" jdbcType="VARCHAR" property="redirectUrl"/>
        <result column="is_enabled" jdbcType="INTEGER" property="isEnabled"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        operate_name,
        request_url,
        remote_host,
        system_code,
        method,
        redirect_url,
        is_enabled,
        create_time,
        update_time
    </sql>
    <insert id="insert" parameterType="com.zzn.usercenter.model.Log">
        insert into
        t_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="operateName != null">
                operate_name,
            </if>
            <if test="requestUrl != null">
                request_url,
            </if>
            <if test="remoteHost != null">
                remote_host,
            </if>
            <if test="systemCode != null">
                system_code,
            </if>
            <if test="method != null">
                method,
            </if>
            <if test="redirectUrl != null">
                redirect_url
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="operateName != null">
                #{operateName,jdbcType=VARCHAR},
            </if>
            <if test="requestUrl != null">
                #{requestUrl,jdbcType=VARCHAR},
            </if>
            <if test="remoteHost != null">
                #{remoteHost,jdbcType=VARCHAR},
            </if>
            <if test="systemCode != null">
                #{systemCode,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                #{method,jdbcType=VARCHAR},
            </if>
            <if test="redirectUrl != null">
                #{redirectUrl,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <!-- 往表中批量插入数据 字段为空不插入 系统字段需要输入 -->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into
        t_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="operateName != null">
                operate_name,
            </if>
            <if test="requestUrl != null">
                request_url,
            </if>
            <if test="remoteHost != null">
                remote_host,
            </if>
            <if test="systemCode != null">
                system_code,
            </if>
            <if test="method != null">
                method,
            </if>
            <if test="redirectUrl != null">
                redirect_url,
            </if>
            <if test="isEnabled != null">
                is_enabled,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <foreach collection="list" item="item" open="values (" close=")" separator=" ), ( ">
            <trim suffixOverrides=",">
                <if test="item.id != null">
                    #{item.id,jdbcType=INTEGER},
                </if>
                <if test="item.operateName != null">
                    #{item.operateName,jdbcType=VARCHAR},
                </if>
                <if test="item.requestUrl != null">
                    #{item.requestUrl,jdbcType=VARCHAR},
                </if>
                <if test="item.remoteHost != null">
                    #{item.remoteHost,jdbcType=VARCHAR},
                </if>
                <if test="item.systemCode != null">
                    #{item.systemCode,jdbcType=VARCHAR},
                </if>
                <if test="item.method != null">
                    #{item.method,jdbcType=VARCHAR},
                </if>
                <if test="item.redirectUrl != null">
                    #{item.redirectUrl,jdbcType=VARCHAR},
                </if>
                <if test="item.isEnabled != null">
                    #{item.isEnabled,jdbcType=INTEGER},
                </if>
                <if test="item.createTime != null">
                    #{item.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.updateTime != null">
                    #{item.updateTime,jdbcType=TIMESTAMP},
                </if>
            </trim>
        </foreach>
    </insert>
    <!-- 根据主键查询数据 所有数据 -->
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        t_log
        where
        1 = 1
        and id = #{id}
    </select>
    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        t_log
    </select>
    <!-- 根据主键修改数据 字段为空不修改 所有数据 -->
    <update id="updateById" parameterType="com.zzn.usercenter.model.Log">
        update
        t_log
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="operateName != null">
                operate_name = #{operateName,jdbcType=VARCHAR},
            </if>
            <if test="requestUrl != null">
                request_url = #{requestUrl,jdbcType=VARCHAR},
            </if>
            <if test="remoteHost != null">
                remote_host = #{remoteHost,jdbcType=VARCHAR},
            </if>
            <if test="systemCode != null">
                system_code = #{systemCode,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                method = #{method,jdbcType=VARCHAR},
            </if>
            <if test="redirectUrl != null">
                redirect_url = #{redirectUrl,jdbcType=VARCHAR},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where
        1 = 1
        and id = #{id,jdbcType=INTEGER}
    </update>
    <!-- 根据主键删除数据 物理删除 -->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
            t_log
        where
            1 = 1
        and id = #{id}
    </delete>
</mapper>