<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzn.usercenter.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.zzn.usercenter.model.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="p_id" jdbcType="INTEGER" property="pId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="index_url" jdbcType="VARCHAR" property="indexUrl"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="is_enabled" jdbcType="TINYINT" property="isEnabled"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        p_id,
        name,
        index_url,
        icon,
        is_enabled,
        create_time,
        update_time
    </sql>
    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        t_menu
    </select>

</mapper>